In [ ]:
import os, random
import numpy as np
import pandas as pd

import kagglehub

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Vamos a importar todos los datos que necesitaremos, al principio sólo serán importante los ratings, pero el resto de información nos podrá servir para sacar conclusiones.

In [ ]:
path = kagglehub.dataset_download("ruchi798/bookcrossing-dataset")
print("Path to dataset files:", path)

Path to dataset files: /Users/dani22/.cache/kagglehub/datasets/ruchi798/bookcrossing-dataset/versions/3

In [ ]:
book_reviews_path = os.path.join(path, 'Book reviews', 'Book reviews')

book_ratings_path = os.path.join(book_reviews_path, 'BX-Book-Ratings.csv')
books_path = os.path.join(book_reviews_path, 'BX_Books.csv')
users_path = os.path.join(book_reviews_path, 'BX-Users.csv')

data_path = os.path.join(path, 'Books Data with Category Language and Summary', 'Preprocessed_data.csv')

In [ ]:
book_ratings_df = pd.read_csv(book_ratings_path, sep=';', encoding='latin-1')
book_ratings_df

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [ ]:
books_df = pd.read_csv(books_path, sep=';', encoding='latin-1')
books_df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271374,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271375,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271376,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271377,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271378,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [ ]:
books_df['ISBN'].duplicated().sum()

0

In [ ]:
ISBN_to_index = pd.Series(books_df.index, index=books_df['ISBN'])
ISBN_to_index

ISBN
0195153448         0
0002005018         1
0060973129         2
0374157065         3
0393045218         4
               ...
0440400988    271374
0525447644    271375
006008667X    271376
0192126040    271377
0767409752    271378
Length: 271379, dtype: int64

In [ ]:
books_df['ISBN'].to_dict()

{0: '0195153448',
 1: '0002005018',
 2: '0060973129',
 3: '0374157065',
 4: '0393045218',
 5: '0399135782',
 6: '0425176428',
 7: '0671870432',
 8: '0679425608',
 9: '074322678X',
 10: '0771074670',
 11: '080652121X',
 12: '0887841740',
 13: '1552041778',
 14: '1558746218',
 15: '1567407781',
 16: '1575663937',
 17: '1881320189',
 18: '0440234743',
 19: '0452264464',
 20: '0609804618',
 21: '1841721522',
 22: '1879384493',
 23: '0061076031',
 24: '0439095026',
 25: '0689821166',
 26: '0971880107',
 27: '0345402871',
 28: '0345417623',
 29: '0684823802',
 30: '0375759778',
 31: '0425163091',
 32: '3404921038',
 33: '3442353866',
 34: '3442410665',
 35: '3442446937',
 36: '0375406328',
 37: '0446310786',
 38: '0449005615',
 39: '0060168013',
 40: '038078243X',
 41: '055321215X',
 42: '067176537X',
 43: '0061099686',
 44: '0553582909',
 45: '0671888587',
 46: '0553582747',
 47: '0425182908',
 48: '042518630X',
 49: '0440223571',
 50: '0812523873',
 51: '0842342702',
 52: '0440225701',
 53: '0060914068',
 54: '0156047624',
 55: '0245542957',
 56: '0380715899',
 57: '0553280333',
 58: '0961769947',
 59: '0964778319',
 60: '0671623249',
 61: '0679810307',
 62: '0679865691',
 63: '2070423204',
 64: '0345260317',
 65: '0394743741',
 66: '042511774X',
 67: '0804106304',
 68: '1853262404',
 69: '0312970242',
 70: '1853260053',
 71: '1414035004',
 72: '0060938412',
 73: '0140067477',
 74: '0345465083',
 75: '0451625889',
 76: '1558531025',
 77: '0441783589',
 78: '0394895894',
 79: '1569871213',
 80: '0375410538',
 81: '0966986105',
 82: '087113375X',
 83: '0340767936',
 84: '0743403843',
 85: '0060930365',
 86: '0060177586',
 87: '0071416331',
 88: '0375509038',
 89: '0553062042',
 90: '0316769487',
 91: '8445071408',
 92: '8445071769',
 93: '8445071777',
 94: '0679429220',
 95: '0671867156',
 96: '0312252617',
 97: '0312261594',
 98: '0316748641',
 99: '0316973742',
 100: '0385235941',
 101: '0446677450',
 102: '0451166892',
 103: '0553347594',
 104: '0671621009',
 105: '067976397X',
 106: '0684822733',
 107: '0786868716',
 108: '8472238822',
 109: '0671864769',
 110: '0671521519',
 111: '0440222303',
 112: '0312953453',
 113: '0446608653',
 114: '0446612545',
 115: '0446612618',
 116: '0451208080',
 117: '0553584383',
 118: '0671027360',
 119: '0812575954',
 120: '0316735736',
 121: '0743439740',
 122: '0345372700',
 123: '0380619458',
 124: '0446325805',
 125: '0451406923',
 126: '0671042858',
 127: '0743249992',
 128: '0840734530',
 129: '0425184226',
 130: '0375500766',
 131: '9724119378',
 132: '0451205197',
 133: '0060929790',
 134: '0060976845',
 135: '0061099325',
 136: '0671004573',
 137: '0446601640',
 138: '0330484516',
 139: '038572179X',
 140: '0393020371',
 141: '1900850303',
 142: '1903019699',
 143: '0345425294',
 144: '0451410319',
 145: '0553583468',
 146: '8420639133',
 147: '8476409419',
 148: '0380778556',
 149: '0451525221',
 150: '0002740230',
 151: '0385336772',
 152: '0440949424',
 153: '0505524996',
 154: '0140252800',
 155: '0451452755',
 156: '0812575482',
 157: '044651747X',
 158: '0060801263',
 159: '0061030147',
 160: '0140250964',
 161: '0446527165',
 162: '0671461494',
 163: '0385337639',
 164: '039575514X',
 165: '0451206673',
 166: '0330332775',
 167: '0486284735',
 168: '0671021745',
 169: '0671047612',
 170: '0671504282',
 171: '0399138684',
 172: '0785263292',
 173: '0830714014',
 174: '0345354931',
 175: '0553278223',
 176: '3150000335',
 177: '3257203659',
 178: '3257207522',
 179: '3257208626',
 180: '3257208634',
 181: '3257208669',
 182: '3257210450',
 183: '3257212054',
 184: '3257212429',
 185: '3257214154',
 186: '3257216416',
 187: '3257233051',
 188: '342311360X',
 189: '3423116714',
 190: '3423241489',
 191: '3426605686',
 192: '3453212150',
 193: '3462021095',
 194: '3492045642',
 195: '3498020862',
 196: '3499110695',
 197: '3499151502',
 198: '3518111000',
 199: '3548254268',
 200: '3570300099',
 201: '3596292646',
 202: '0060977493',
 203: '0312872682',
 204: '0316602906',
 205: '0316693006',
 206: '0345311396',
 207: '0345378490',
 208: '0345404793',
 209: '0345433173',
 210: '0375400117',
 211: '0375705856',
 212: '0380717018',
 213: '0380718332',
 214: '0380754509',
 215: '038076654X',
 216: '0380807866',
 217: '0385316895',
 218: '0385497466',
 219: '0385508042',
 220: '0385509456',
 221: '0385511612',
 222: '0385730586',
 223: '0425164403',
 224: '0440234964',
 225: '0446605484',
 226: '0446610399',
 227: '0449006522',
 228: '0449911004',
 229: '0451162072',
 230: '0451186648',
 231: '0452282152',
 232: '051513290X',
 233: '0553580388',
 234: '0590598848',
 235: '0590629719',
 236: '0671023616',
 237: '0671027387',
 238: '0684848783',
 239: '0743486226',
 240: '0786863986',
 241: '0803251718',
 242: '0804117934',
 243: '140003180X',
 244: '155874262X',
 245: '0060987103',
 246: '0151008116',
 247: '0375704965',
 248: '0525947647',
 249: '0804111359',
 250: '1558744150',
 251: '0435272683',
 252: '0316782505',
 253: '006102063X',
 254: '0060013117',
 255: '0060199563',
 256: '006052779X',
 257: '0060563079',
 258: '0060809027',
 259: '0061040967',
 260: '0061050474',
 261: '0061052515',
 262: '0061052523',
 263: '0064472264',
 264: '0140620664',
 265: '0312148267',
 266: '0312156960',
 267: '0312890044',
 268: '034543191X',
 269: '0373836023',
 270: '0375751513',
 271: '0375801677',
 272: '0375814248',
 273: '0375823352',
 274: '037582345X',
 275: '0375823468',
 276: '0380730448',
 277: '0380973839',
 278: '0385327773',
 279: '0394586239',
 280: '0439510112',
 281: '0440241413',
 282: '0451409256',
 283: '0451523415',
 284: '0451526279',
 285: '0451526341',
 286: '0486415864',
 287: '0553280589',
 288: '0571197639',
 289: '0670035262',
 290: '0679423079',
 291: '0679751343',
 292: '0684833395',
 293: '0743245024',
 294: '0749748001',
 295: '0749748028',
 296: '0963094424',
 297: '1401201172',
 298: '1563892278',
 299: '1563898586',
 300: '156971620X',
 301: '1592571301',
 302: '0374270325',
 303: '0375719180',
 304: '0440235502',
 305: '044023722X',
 306: '1573225487',
 307: '1853260673',
 308: '0060977477',
 309: '0345391691',
 310: '0520011171',
 311: '0553278746',
 312: '0670856045',
 313: '0872200760',
 314: '0937858994',
 315: '0671649949',
 316: '0590431110',
 317: '0064470113',
 318: '0553571486',
 319: '0972044205',
 320: '0312963009',
 321: '0345430476',
 322: '0345435869',
 323: '0380728729',
 324: '038081840X',
 325: '0449912302',
 326: '055329198X',
 327: '0671018930',
 328: '0812541642',
 329: '0312988699',
 330: '0486282112',
 331: '8483007010',
 332: '0670815373',
 333: '0385313748',
 334: '1575843366',
 335: '0684193957',
 336: '0345371984',
 337: '0380730138',
 338: '1573228737',
 339: '9681500555',
 340: '0380711109',
 341: '0452283914',
 342: '0425120279',
 343: '067153484X',
 344: '0380728273',
 345: '8433914545',
 346: '8484509141',
 347: '0446606197',
 348: '0771076002',
 349: '0771088191',
 350: '1559703237',
 351: '3596214629',
 352: '0062770500',
 353: '0671847546',
 354: '0060188731',
 355: '0140374248',
 356: '0142001740',
 357: '0195086295',
 358: '0312995423',
 359: '0380704587',
 360: '0380815923',
 361: '0385416342',
 362: '0385418493',
 363: '038542471X',
 364: '0425098109',
 365: '0449005410',
 366: '0449202631',
 367: '0449207544',
 368: '0515128554',
 369: '0517577402',
 370: '0590450875',
 371: '0590481371',
 372: '067103619X',
 373: '0684177730',
 374: '0684180200',
 375: '0743411269',
 376: '0743470389',
 377: '076218857X',
 378: '0767905938',
 379: '0800706544',
 380: '0801096677',
 381: '0849953014',
 382: '0891091963',
 383: '0915811537',
 384: '0927545373',
 385: '1575024179',
 386: '1880185008',
 387: '0140345809',
 388: '0156528207',
 389: '0380012863',
 390: '0451154916',
 391: '0785815147',
 392: '0875421288',
 393: '1567184294',
 394: '156718796X',
 395: '1862047626',
 396: '0020437501',
 397: '0198320264',
 398: '0373196989',
 399: '0373245580',
 400: '0451527747',
 401: '0671867113',
 402: '0812504208',
 403: '0060173289',
 404: '0060973897',
 405: '006101351X',
 406: '0140104682',
 407: '0312143370',
 408: '0316666343',
 409: '039456894X',
 410: '0440224675',
 411: '0449002632',
 412: '0449213773',
 413: '0452279690',
 414: '0553569058',
 415: '0679427430',
 416: '0679725393',
 417: '0802114369',
 418: '0803233019',
 419: '0819154946',
 420: '0897322339',
 421: '0940322978',
 422: '1573225126',
 423: '1579651658',
 424: '1878424319',
 425: '8401351421',
 426: '8423324311',
 427: '8427007450',
 428: '8429734996',
 429: '8429736131',
 430: '8440616252',
 431: '8472224260',
 432: '8472227421',
 433: '8474103347',
 434: '8475960936',
 435: '8477830029',
 436: '8478091246',
 437: '8478097732',
 438: '8478098267',
 439: '8478800336',
 440: '8478884963',
 441: '8483002523',
 442: '8486433193',
 443: '0600586898',
 444: '1853260622',
 445: '1857938011',
 446: '0060804157',
 447: '8466601090',
 448: '0140382658',
 449: '0152012966',
 450: '0312283784',
 451: '0345297709',
 452: '0345313097',
 453: '0345335465',
 454: '0345416848',
 455: '0385333404',
 456: '044021145X',
 457: '0449212084',
 458: '0553582682',
 459: '0590947257',
 460: '074345829X',
 461: '0786913878',
 462: '0801491827',
 463: '0816729913',
 464: '0843136685',
 465: '0866119531',
 466: '0866119566',
 467: '0870441663',
 468: '1561561428',
 469: '0553210092',
 470: '0553258524',
 471: '0688163726',
 472: '1569471096',
 473: '055358099X',
 474: '0316168815',
 475: '014023828X',
 476: '0316314927',
 477: '0345424719',
 478: '0375414746',
 479: '0375726403',
 480: '0385503857',
 481: '0425156842',
 482: '0440226104',
 483: '0452277337',
 484: '0553802488',
 485: '0671021001',
 486: '0767903579',
 487: '0805063897',
 488: '0679777431',
 489: '0553285343',
 490: '0486285529',
 491: '0671002481',
 492: '0812523385',
 493: '0895774666',
 494: '0020199090',
 495: '0385495145',
 496: '0679733825',
 497: '0842329129',
 498: '0345451260',
 499: '0740700235',
 500: '0380973545',
 501: '0393321576',
 502: '0743424425',
 503: '0786868015',
 504: '0446610178',
 505: '0684854953',
 506: '0743229878',
 507: '0380617625',
 508: '0380732335',
 509: '0385337132',
 510: '0440235057',
 511: '0445402040',
 512: '0618119760',
 513: '0871138646',
 514: '0026329859',
 515: '0060621257',
 516: '0060915544',
 517: '0060917016',
 518: '0060925000',
 519: '0060932759',
 520: '0061000280',
 521: '0192815318',
 522: '0312195516',
 523: '0380792664',
 524: '0393048977',
 525: '0399137807',
 526: '039914739X',
 527: '0451203046',
 528: '0451410556',
 529: '0451523318',
 530: '0486281965',
 531: '0486292940',
 532: '051762639X',
 533: '0684824442',
 534: '0743458303',
 535: '081296666X',
 536: '0819215635',
 537: '0880011025',
 538: '1561011525',
 539: '1877727083',
 540: '0486206173',
 541: '0312278586',
 542: '8845229041',
 543: '887641486X',
 544: '0140370900',
 545: '0674511255',
 546: '0030096189',
 547: '0312965745',
 548: '0345374657',
 549: '0395710901',
 550: '080521061X',
 551: '0823032612',
 552: '0679310002',
 553: '0312288115',
 554: '0316171107',
 555: '0380710218',
 556: '0515118656',
 557: '0553289063',
 558: '0671000306',
 559: '0671673688',
 560: '1561672033',
 561: '0425178242',
 562: '0618173870',
 563: '0156027321',
 564: '0375403582',
 565: '0385721420',
 566: '0451202341',
 567: '0743418190',
 568: '0385335407',
 569: '0965746828',
 570: '0060923245',
 571: '0486272664',
 572: '0786015276',
 573: '0060913509',
 574: '0553272837',
 575: '0440225078',
 576: '0312145543',
 577: '0425181111',
 578: '0380732688',
 579: '0140286276',
 580: '0373484100',
 581: '0449907481',
 582: '0553107305',
 583: '080213825X',
 584: '0515127833',
 585: '0345441133',
 586: '0515134279',
 587: '0945586051',
 588: '0385490992',
 589: '0385424728',
 590: '0312980388',
 591: '0590419625',
 592: '0385472951',
 593: '0451195663',
 594: '0425182878',
 595: '0553564528',
 596: '055356451X',
 597: '0743412621',
 598: '0849943728',
 599: '0849943450',
 600: '084994371X',
 601: '0590406019',
 602: '0020442408',
 603: '0553225987',
 604: '042517736X',
 605: '0671868713',
 606: '038549825X',
 607: '0553202294',
 608: '0345313860',
 609: '0345369947',
 610: '067170124X',
 611: '0345353625',
 612: '0308102282',
 613: '006017143X',
 614: '0805056491',
 615: '0679401377',
 616: '1562827049',
 617: '0385306032',
 618: '0816152446',
 619: '0821772953',
 620: '0345379454',
 621: '0553576925',
 622: '0743206053',
 623: '0688169678',
 624: '0439319552',
 625: '0590870157',
 626: '0307001164',
 627: '0440441501',
 628: '0590687301',
 629: '0439061644',
 630: '0439569842',
 631: '0307118703',
 632: '0590418858',
 633: '030720152X',
 634: '0816728739',
 635: '0865050880',
 636: '0812519655',
 637: '0812524853',
 638: '0449211770',
 639: '193072229X',
 640: '0812521129',
 641: '0345251733',
 642: '1400077826',
 643: '0312995431',
 644: '0312312628',
 645: '0446394521',
 646: '0590021117',
 647: '068484267X',
 648: '0553578693',
 649: '0380709260',
 650: '0807565288',
 651: '0312986769',
 652: '0345413377',
 653: '0345413369',
 654: '0679893105',
 655: '0061096091',
 656: '0345369068',
 657: '0451184718',
 658: '0449209121',
 659: '0060938455',
 660: '080411952X',
 661: '0060575808',
 662: '0060558865',
 663: '0767912918',
 664: '0553298860',
 665: '0385335679',
 666: '0440122090',
 667: '0671525832',
 668: '0553279572',
 669: '0061009059',
 670: '0060930187',
 671: '0516076272',
 672: '0679450432',
 673: '0821775863',
 674: '0821770209',
 675: '0670855758',
 676: '0553562819',
 677: '0446364193',
 678: '0446519138',
 679: '0425179672',
 680: '0061042943',
 681: '0399144463',
 682: '0965404560',
 683: '006015781X',
 684: '0060930705',
 685: '0312206763',
 686: '0316116025',
 687: '0156013967',
 688: '0385314019',
 689: '0743444167',
 690: '0618231617',
 691: '1567920047',
 692: '0811203220',
 693: '1573229148',
 694: '0787955671',
 695: '0425174484',
 696: '0385496907',
 697: '0446523992',
 698: '0140185216',
 699: '0684717255',
 700: '0486272745',
 701: '8807120194',
 702: '0062507249',
 703: '0684801221',
 704: '1576737357',
 705: '0060083298',
 706: '0446672211',
 707: '0140293248',
 708: '0807070718',
 709: '0743213831',
 710: '0345305477',
 711: '0061080519',
 712: '0142000205',
 713: '0316735027',
 714: '193156146X',
 715: '015600710X',
 716: '0062517856',
 717: '0679767789',
 718: '0449911683',
 719: '0425169626',
 720: '0449207757',
 721: '0449245691',
 722: '0140029400',
 723: '0140021566',
 724: '2253004022',
 725: '2253005274',
 726: '225300670X',
 727: '2266084372',
 728: '2070362388',
 729: '2266029460',
 730: '2253007102',
 731: '2070417743',
 732: '2266033689',
 733: '2070384349',
 734: '207053880X',
 735: '2070334368',
 736: '2290314951',
 737: '229000510X',
 738: '3492207006',
 739: '3499177757',
 740: '3889774016',
 741: '3502670005',
 742: '0905762487',
 743: '3499222604',
 744: '3746670055',
 745: '0140620427',
 746: '3596144434',
 747: '3442724686',
 748: '0385504209',
 749: '0446525502',
 750: '0385500769',
 751: '0399147012',
 752: '0670892963',
 753: '0688180639',
 754: '0316789089',
 755: '0451197275',
 756: '0425184129',
 757: '0151001006',
 758: '0385505833',
 759: '0679442790',
 760: '0525943862',
 761: '0609605925',
 762: '0060191929',
 763: '0743206045',
 764: '0684864843',
 765: '0684867818',
 766: '0743406176',
 767: '0380978539',
 768: '0679603352',
 769: '0679410430',
 770: '0446523569',
 771: '0671042556',
 772: '0679450440',
 773: '0140107649',
 774: '0609606727',
 775: '0446527793',
 776: '0446531332',
 777: '1570717257',
 778: '0060192631',
 779: '0385420161',
 780: '0345339711',
 781: '052594463X',
 782: '039304016X',
 783: '0399147128',
 784: '0670031046',
 785: '0394574745',
 786: '0316969443',
 787: '0743230051',
 788: '0316693200',
 789: '0684868911',
 790: '0842336214',
 791: '0399148582',
 792: '0684864320',
 793: '0525944834',
 794: '0345428900',
 795: '0451176812',
 796: '0671525794',
 797: '0718144538',
 798: '0446602086',
 799: '0394551427',
 800: '0064407667',
 801: '0007100221',
 802: '2253148539',
 803: '2253043974',
 804: '2020315491',
 805: '0747549923',
 806: '0743462335',
 807: '0140253580',
 808: '0947782141',
 809: '057120354X',
 810: '0349101779',
 811: '0743222229',
 812: '185479549X',
 813: '0140292918',
 814: '1854795554',
 815: '1858813093',
 816: '2871290911',
 817: '0198604025',
 818: '1842151053',
 819: '2253063339',
 820: '1860198597',
 821: '0767908473',
 822: '1842040154',
 823: '0140622063',
 824: '0571209521',
 825: '2264009306',
 826: '1841952931',
 827: '0890877564',
 828: '1405200677',
 829: '0416196772',
 830: '0747538069',
 831: '0375501347',
 832: '0060927240',
 833: '0316776963',
 834: '156341029X',
 835: '0060934719',
 836: '1886383421',
 837: '1888451084',
 838: '0451450256',
 839: '1555835953',
 840: '0395877563',
 841: '0962893862',
 842: '1555834531',
 843: '0393318435',
 844: '0889740828',
 845: '1563410443',
 846: '1563899388',
 847: '1563411148',
 848: '0553579681',
 849: '0553579673',
 850: '0451181379',
 851: '0786889160',
 852: '0345370740',
 853: '0553574175',
 854: '0553574167',
 855: '0553574159',
 856: '0312287240',
 857: '0679801146',
 858: '0446300101',
 859: '0821750410',
 860: '0425142485',
 861: '0451456548',
 862: '0060006048',
 863: '0312906552',
 864: '0440117291',
 865: '0425049981',
 866: '0374386676',
 867: '0786886463',
 868: '0345395379',
 869: '0380788497',
 870: '0307215342',
 871: '0374343381',
 872: '0345403339',
 873: '0440226694',
 874: '0440219604',
 875: '0767903285',
 876: '0345429176',
 877: '038529929X',
 878: '1573229571',
 879: '0345418778',
 880: '0517201658',
 881: '0743211383',
 882: '039914370X',
 883: '1884777805',
 884: '0312977905',
 885: '0812521331',
 886: '0451205421',
 887: '0894342789',
 888: '0440218535',
 889: '0449207595',
 890: '8806142267',
 891: '0670844594',
 892: '039457513X',
 893: '0394559487',
 894: '0804001944',
 895: '0590897985',
 896: '0689832877',
 897: '0689829698',
 898: '0439042917',
 899: '0064409457',
 900: '0064405052',
 901: '043922165X',
 902: '0152162445',
 903: '0152162577',
 904: '015216250X',
 905: '1562477528',
 906: '0439221676',
 907: '0439221684',
 908: '0439221714',
 909: '0439221706',
 910: '0439221730',
 911: '0440415993',
 912: '0895872102',
 913: '068983585X',
 914: '0345391802',
 915: '0440219078',
 916: '185424597X',
 917: '2080105434',
 918: '349913358X',
 919: '3257201761',
 920: '3404121686',
 921: '3404118960',
 922: '0345356578',
 923: '0345346971',
 924: '0753804700',
 925: '0451155750',
 926: '0786890436',
 927: '0415928087',
 928: '0521427150',
 929: '0812923278',
 930: '0884111342',
 931: '0345428544',
 932: '0671694049',
 933: '080901582X',
 934: '0449006557',
 935: '0373250339',
 936: '0380820447',
 937: '0385497679',
 938: '0451454243',
 939: '0941423042',
 940: '0373871562',
 941: '0553101439',
 942: '0898151910',
 943: '0835949362',
 944: '0880701102',
 945: '039914563X',
 946: '0312853238',
 947: '0688048730',
 948: '0425161722',
 949: '0385493800',
 950: '0849916399',
 951: '1928791107',
 952: '067175145X',
 953: '0440211727',
 954: '0877192820',
 955: '0380002450',
 956: '0793133955',
 957: '0394178017',
 958: '0425134350',
 959: '0385479689',
 960: '0380754851',
 961: '0380538504',
 962: '044661162X',
 963: '0671742566',
 964: '0515122408',
 965: '0440222818',
 966: '0451204050',
 967: '038533334X',
 968: '0449131548',
 969: '0440120470',
 970: '0451188209',
 971: '0440130913',
 972: '0449001954',
 973: '0345404777',
 974: '0451185277',
 975: '0440224829',
 976: '0671779338',
 977: '0515134368',
 978: '0380759497',
 979: '3442098424',
 980: '0394578791',
 981: '1558505377',
 982: '0373245696',
 983: '0743201078',
 984: '068983571X',
 985: '0553256785',
 986: '0892967994',
 987: '0061064505',
 988: '1551668785',
 989: '0836230868',
 990: '0381999866',
 991: '0380817144',
 992: '0380752115',
 993: '0553212583',
 994: '0446364762',
 995: '0425166619',
 996: '061312975X',
 997: '0765341972',
 998: '0590514776',
 999: '0373037430',
 ...}

In [ ]:
users_df = pd.read_csv(users_path, sep=';', encoding='latin-1')
users_df

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [ ]:
assert users_df['User-ID'].duplicated().sum() == 0
assert users_df['User-ID'].is_monotonic_increasing

In [ ]:
book_ratings_df['User-ID'] -= 1
users_df['User-ID'] -= 1

In [ ]:
users_df.index.rename('User-ID', inplace=True)
users_df.drop(columns='User-ID', inplace=True)
users_df

                                   Location   Age
User-ID
0                        nyc, new york, usa   NaN
1                 stockton, california, usa  18.0
2           moscow, yukon territory, russia   NaN
3                 porto, v.n.gaia, portugal  17.0
4        farnborough, hants, united kingdom   NaN
...                                     ...   ...
278853                portland, oregon, usa   NaN
278854   tacoma, washington, united kingdom  50.0
278855            brampton, ontario, canada   NaN
278856            knoxville, tennessee, usa   NaN
278857                 dublin, n/a, ireland   NaN

[278858 rows x 2 columns]

In [ ]:
# En MiB
users_df.memory_usage(deep=True).sum() / 1024**2, books_df.memory_usage(deep=True).sum() / 1024**2, book_ratings_df.memory_usage(deep=True).sum() / 1024**2

(22.331958770751953, 157.61188507080078, 82.24126815795898)

In [ ]:
book_ratings_df.ISBN.head()

0    034545104X
1    0155061224
2    0446520802
3    052165615X
4    0521795028
Name: ISBN, dtype: object

In [ ]:
nonexistent_bookratings = pd.isna(book_ratings_df.ISBN.map(ISBN_to_index))
book_ratings_df = book_ratings_df[~nonexistent_bookratings]

In [ ]:
book_ratings_df['book_index'] = book_ratings_df.ISBN.map(ISBN_to_index)
book_ratings_df.drop(columns='ISBN', inplace=True)

/var/folders/05/6jmrnggx2x14zbdvgbyf1zqh0000gn/T/ipykernel_2754/1945880113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book_ratings_df['book_index'] = book_ratings_df.ISBN.map(ISBN_to_index)
/var/folders/05/6jmrnggx2x14zbdvgbyf1zqh0000gn/T/ipykernel_2754/1945880113.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book_ratings_df.drop(columns='ISBN', inplace=True)

In [ ]:
book_ratings_df

         User-ID  Book-Rating  book_index
0         276724            0        2966
1         276725            5      225829
2         276726            0       11054
3         276728            3      246854
4         276728            6      246855
...          ...          ...         ...
1149774   276703            0       69546
1149775   276703            9       69547
1149776   276705            0       52543
1149777   276708           10       15979
1149778   276720           10       56817

[1031175 rows x 3 columns]

:

Hemos comprobado un problema con los algoritmos de recomendación. 
Se trata de que no son todos compatibles con el mismo tipo de split entre train y test.

En el caso de KNN, el split es sólo respecto a los usuarios ya que el modelo 
sólo puede predecir sobre items que ya ha visto algún usuario.

En los otros casos por la naturaleza iterativa y de aprendizaje de los 
entrenamientos, con las fórmulas dadas en clase no podemos inferir los 
factores de un usuario que no haya estado en el entranamiento ni tampoco 
de un item en la misma situación. Entonces el split no puede ser respecto a 
usuarios o items, sino que tiene que ser respecto a los ratings.

In [ ]:
USERS = users_df.shape[0]
ITEMS = books_df.shape[0]
try:
    ratings_usr_split = np.full((USERS, ITEMS), np.nan)
except MemoryError as e:
    print(e)

Vamos a reducir por 15 el tamaño (en ambas dimensiones) para asegurarnos de que pueda ejecutarse el código. Idealmente se trabajaría con arrays dispersos, pero las implementaciones que hay no permiten tanta versatilidad como trabajar con numpy.

Para reducirlos vamos a quedarnos con los usuarios que más libros han evaluado, sino fuera así la matriz se volvería extremadamente dispersa al haber reducido tanto en usuarios como libres y habría muy pocos datos para comparar usuarios.

In [ ]:
USERS = len(users_df) // 15
ITEMS = len(books_df) // 15

In [ ]:
reduced_users = book_ratings_df.groupby('User-ID').size().sort_values(ascending=False).index[:USERS]
reduced_users = [*reduced_users]
random.seed(13)
random.shuffle(reduced_users) # For sampling

In [ ]:
old_to_new_userid = pd.Series(
    range(len(reduced_users)), index=reduced_users
).rename('User-ID')
new_to_old_userid = pd.Series(
    reduced_users, index=range(len(reduced_users))
).rename('User-ID')
old_to_new_userid

164895        0
178913        1
145450        2
266587        3
24300         4
          ...
260315    18585
40042     18586
189473    18587
265903    18588
177976    18589
Name: User-ID, Length: 18590, dtype: int64

In [ ]:
reduced_users_df = users_df.loc[reduced_users].reset_index(drop=True)
reduced_users_df.index.rename('new_userid', inplace=True)
reduced_users_df

                                           Location   Age
new_userid
0                          wilsonville, oregon, usa  43.0
1                           bradenton, florida, usa   NaN
2                        winter haven, florida, usa  63.0
3                          toronto, ontario, canada  38.0
4               maple bay, british columbia, canada   NaN
...                                             ...   ...
18585           penticton, british columbia, canada   NaN
18586       bielefeld, nordrhein-westfalen, germany  32.0
18587                             plano, texas, usa  41.0
18588       middelbeers, noord-brabant, netherlands  23.0
18589                cullowhee, north carolina, usa   NaN

[18590 rows x 2 columns]

In [ ]:
valid_userids = set(reduced_users)
reduced_ratings_df_temp = book_ratings_df[book_ratings_df['User-ID'].isin(valid_userids)].reset_index(drop=True)
reduced_ratings_df_temp['User-ID'] = reduced_ratings_df_temp['User-ID'].map(old_to_new_userid)
reduced_ratings_df_temp

        User-ID  Book-Rating  book_index
0          5923            0        2030
1          5923            0         227
2          5923            0        1004
3          5923            0         596
4          5923            0       87284
...         ...          ...         ...
916468     1357            7         881
916469     1357            0        5309
916470     1357            5       69544
916471     1357            0       69546
916472     1357            9       69547

[916473 rows x 3 columns]

In [ ]:
reduced_books = reduced_ratings_df_temp.groupby('book_index').size().sort_values(ascending=False).index[:ITEMS]
reduced_books

Index([    26,    408,    748,   1105,    522,    356,   1922,    118,    305,
          706,
       ...
        84174, 102266,   4539,  58491,  96075,  20518,   7981,  58515,  96078,
        60100],
      dtype='int64', name='book_index', length=18091)

In [ ]:
old_to_new_bookid = pd.Series(
    range(len(reduced_books)), index=reduced_books
).rename('User-ID')
new_to_old_bookid = pd.Series(
    reduced_books, index=range(len(reduced_books))
).rename('User-ID')
old_to_new_bookid

book_index
26           0
408          1
748          2
1105         3
522          4
         ...
20518    18086
7981     18087
58515    18088
96078    18089
60100    18090
Name: User-ID, Length: 18091, dtype: int64

In [ ]:
reduced_books_df = books_df.loc[reduced_books].reset_index(drop=True)
reduced_books_df.index.rename('new_bookid', inplace=True)
reduced_books_df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
new_bookid,,,,,,,,
0,0971880107,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...
1,0316666343,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...
2,0385504209,The Da Vinci Code,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...
3,0060928336,Divine Secrets of the Ya-Ya Sisterhood: A Novel,Rebecca Wells,1997,Perennial,http://images.amazon.com/images/P/0060928336.0...,http://images.amazon.com/images/P/0060928336.0...,http://images.amazon.com/images/P/0060928336.0...
4,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA,http://images.amazon.com/images/P/0312195516.0...,http://images.amazon.com/images/P/0312195516.0...,http://images.amazon.com/images/P/0312195516.0...
...,...,...,...,...,...,...,...,...
18086,0061007358,"Not a Penny More, Not a Penny Less",Jeffrey Archer,1994,HarperTorch,http://images.amazon.com/images/P/0061007358.0...,http://images.amazon.com/images/P/0061007358.0...,http://images.amazon.com/images/P/0061007358.0...
18087,0452277507,Animal Farm: A Fairy Story,George Orwell,1996,Plume Books,http://images.amazon.com/images/P/0452277507.0...,http://images.amazon.com/images/P/0452277507.0...,http://images.amazon.com/images/P/0452277507.0...
18088,0064405478,Betsy Was a Junior (Betsy & Tacy),Maud Hart Lovelace,1995,HarperTrophy,http://images.amazon.com/images/P/0064405478.0...,http://images.amazon.com/images/P/0064405478.0...,http://images.amazon.com/images/P/0064405478.0...
18089,0671024914,Seven of Nine (Star Trek: Voyager),Christie Golden,1998,Star Trek,http://images.amazon.com/images/P/0671024914.0...,http://images.amazon.com/images/P/0671024914.0...,http://images.amazon.com/images/P/0671024914.0...
18090,0743223306,"More, Now, Again: A Memoir of Addiction",Elizabeth Wurtzel,2001,Simon & Schuster,http://images.amazon.com/images/P/0743223306.0...,http://images.amazon.com/images/P/0743223306.0...,http://images.amazon.com/images/P/0743223306.0...

In [ ]:
valid_bookids = set(reduced_books)
reduced_ratings_df = reduced_ratings_df_temp[reduced_ratings_df_temp['book_index'].isin(valid_bookids)].reset_index(drop=True)
reduced_ratings_df['book_index'] = reduced_ratings_df['book_index'].map(old_to_new_bookid)
reduced_ratings_df

        User-ID  Book-Rating  book_index
0          5923            0         379
1          5923            0         634
2          5923            0         366
3          5923            0         259
4          5923            0       14372
...         ...          ...         ...
461735     1357            0        2289
461736     1357            0        1485
461737     1357            0         592
461738     1357            7         738
461739     1357            0         100

[461740 rows x 3 columns]

In [ ]:
train_split = 0.9
TRAIN_USERS = round(reduced_users_df.shape[0] * train_split)
ITEMS = reduced_books_df.shape[0]
ratings_usr_train = np.full((TRAIN_USERS, ITEMS), np.nan)
ratings_usr_test = np.full((USERS - TRAIN_USERS, ITEMS), np.nan)

In [ ]:
for _, (user, rating, book) in reduced_ratings_df.iterrows():
    if user >= TRAIN_USERS:
        ratings_usr_test[user - TRAIN_USERS, book] = rating
    else:
        ratings_usr_train[user, book] = rating

In [ ]:
# A lo mejor es más facil tenerlo todo en una función. Pongo por aquí una q no está probada:

def reduce_dataset(book_ratings_df, users_df, books_df, 
                   scale_factor=15, train_split=0.9, seed=13):
    USERS = len(users_df) // scale_factor
    ITEMS = len(books_df) // scale_factor

    top_users = book_ratings_df.groupby('User-ID').size().sort_values(ascending=False).index[:USERS]
    reduced_users = list(top_users)
    random.seed(seed)
    random.shuffle(reduced_users)

    old_to_new_userid = pd.Series(range(len(reduced_users)), index=reduced_users).rename('User-ID')
    new_to_old_userid = pd.Series(reduced_users, index=range(len(reduced_users))).rename('User-ID')

    # Map users
    valid_userids = set(reduced_users)
    reduced_users_df = users_df.loc[valid_userids].copy()
    reduced_users_df = reduced_users_df.reset_index(drop=False).rename(columns={"User-ID": "old_userid"})
    reduced_users_df["new_userid"] = reduced_users_df["old_userid"].map(old_to_new_userid)

    reduced_ratings_df_temp = book_ratings_df[book_ratings_df['User-ID'].isin(valid_userids)].copy()
    reduced_ratings_df_temp['User-ID'] = reduced_ratings_df_temp['User-ID'].map(old_to_new_userid)

    # Most evaluated books
    top_books = reduced_ratings_df_temp.groupby('book_index').size().sort_values(ascending=False).index[:ITEMS]
    reduced_books = list(top_books)

    # Map book index
    old_to_new_bookid = pd.Series(range(len(reduced_books)), index=reduced_books).rename('book_index')
    new_to_old_bookid = pd.Series(reduced_books, index=range(len(reduced_books))).rename('book_index')
    
    valid_bookids = set(reduced_books)
    reduced_books_df = books_df.loc[valid_bookids].copy()
    reduced_books_df = reduced_books_df.reset_index(drop=False).rename(columns={"index": "old_bookid"})
    reduced_books_df["new_bookid"] = reduced_books_df["old_bookid"].map(old_to_new_bookid)

    reduced_ratings_df = reduced_ratings_df_temp[reduced_ratings_df_temp['book_index'].isin(valid_bookids)].copy()
    reduced_ratings_df['book_index'] = reduced_ratings_df['book_index'].map(old_to_new_bookid)
    reduced_ratings_df.reset_index(drop=True, inplace=True)

    # Split by users
    TRAIN_USERS = round(len(reduced_users_df) * train_split)
    TOTAL_USERS = len(reduced_users_df)
    TOTAL_ITEMS = len(reduced_books_df)

    ratings_usr_train = np.full((TRAIN_USERS, TOTAL_ITEMS), np.nan)
    ratings_usr_test = np.full((TOTAL_USERS - TRAIN_USERS, TOTAL_ITEMS), np.nan)

    for _, row in reduced_ratings_df.iterrows():
        user = row['User-ID']
        item = row['book_index']
        rating = row['Book-Rating']
        if user < TRAIN_USERS:
            ratings_usr_train[user, item] = rating
        else:
            ratings_usr_test[user - TRAIN_USERS, item] = rating

    return {
        "train_matrix": ratings_usr_train,
        "test_matrix": ratings_usr_test,
        "reduced_users_df": reduced_users_df,
        "reduced_books_df": reduced_books_df,
        "reduced_ratings_df": reduced_ratings_df,
        "user_maps": {
            "old_to_new": old_to_new_userid,
            "new_to_old": new_to_old_userid
        },
        "book_maps": {
            "old_to_new": old_to_new_bookid,
            "new_to_old": new_to_old_bookid
        }
    }

# KNN

In [ ]:
from typing import Literal
import warnings
class KNN:
    def __init__(
        self,
        k: int,
        similarity_kind: Literal['correlation', 'jmsd'] = 'jmsd',
    ):
        self.k = k
        self.similarity = similarity_kind
        
        
    def _check(self, ratings_u: np.ndarray) -> None:
        if not hasattr(self, 'ratings'):
            raise ValueError('Model not fitted yet')
        if not len(ratings_u.shape) == 1:
            raise ValueError('User ratings must be a 1D numpy array')
        if not ratings_u.shape[0] == self.ratings.shape[1]:
            raise ValueError('User ratings must have the same number of items as the training data')
        
    
    def _correlation_similarities(self, ratings_u: np.ndarray) -> np.ndarray:
        all_ratings = self.ratings
        valids = ~np.isnan(all_ratings)
        valids_u = ~np.isnan(ratings_u)
        intersections = valids_u & valids
        
        with warnings.catch_warnings():
            warnings.simplefilter("ignore", category=RuntimeWarning)
            means = all_ratings.mean(axis=1, where=valids)
            
        if np.any(valids_u):
            mean_u = ratings_u[valids_u].mean()
        else:
            mean_u = 0 

        errors = all_ratings - means[:, np.newaxis]
        errors_u = ratings_u - mean_u
        numerator = (errors * errors_u).sum(axis=1, where=intersections)
        denominator = np.sqrt(
            (errors**2).sum(axis=1, where=intersections)
            *
            (np.broadcast_to(errors_u, all_ratings.shape)**2).sum(axis=1, where=intersections)
        )
            
        denominator[denominator == 0] = np.nan
        similarities = numerator / denominator
        return similarities
        
    
    def _jmsd_similarities(self, ratings_u: np.ndarray) -> np.ndarray:
        all_ratings = self.ratings.copy()

        valids = ~np.isnan(all_ratings)
        valids_u = ~np.isnan(ratings_u)
        union_sizes = (valids_u | valids).sum(axis=1)
        intersections = valids_u & valids
        intersection_sizes = intersections.sum(axis=1, dtype=np.float64)
        intersection_sizes[intersection_sizes == 0] = np.nan
        
        jaccard_similiarties = intersection_sizes/union_sizes

        all_ratings[intersections] = (all_ratings[intersections] - self.MIN_RATING) / (self.MAX_RATING - self.MIN_RATING)
        all_ratings[intersections] = ((np.broadcast_to(ratings_u, all_ratings.shape)[intersections] - all_ratings[intersections])**2)
        all_ratings[~intersections] = 0
        similarities = jaccard_similiarties * (1 - all_ratings.sum(axis=1) / intersection_sizes)
        return similarities
    
    def _get_neighbors(self, similarities: np.ndarray) -> np.ndarray:
        if len(similarities) <= self.k:
            # Not enough neighbors
            similarities = np.where(~np.isnan(similarities), similarities, 0)
            neighbors = np.arange(len(similarities))
            neighbors = neighbors[similarities[neighbors] != 0]
            return neighbors

        similarities = np.where(~np.isnan(similarities), similarities, 0)
        neighbors = np.argpartition(similarities, -self.k)[-self.k:]
        return neighbors[similarities[neighbors] != 0]

    
    def _average_prediction(self, item: np.integer | int, neighbors: np.ndarray) -> np.ndarray:
        values = self.ratings[:,item][neighbors]
        valid_values = values[~np.isnan(values)]
        if len(valid_values) == 0:
            return np.nan
        return valid_values.mean()
    
    def _average_predictions(self, neighbors: np.ndarray) -> np.ndarray:
        values = self.ratings[neighbors] 
        valids = ~np.isnan(values)
        with warnings.catch_warnings():
            warnings.simplefilter("ignore", category=RuntimeWarning)
            return values.mean(axis=0, where=valids)
    
        
    def _weighted_average_prediction(self, item: np.integer | int, neighbors: np.ndarray, similarities: np.ndarray) -> np.ndarray:
        neighbors_ratings = self.ratings[:, item][neighbors]
        valid_ratings = ~np.isnan(neighbors_ratings)
        
        neighbors_ratings = neighbors_ratings[valid_ratings]
        if len(neighbors_ratings) == 0:
            return np.nan
        
        neighbors_similarities = similarities[neighbors][valid_ratings]
        return (neighbors_similarities * neighbors_ratings).sum() / neighbors_similarities.sum()
    
    def _weighted_average_predictions(self, neighbors: np.ndarray, similarities: np.ndarray) -> np.ndarray:
        neighbors_ratings = self.ratings[neighbors]
        valids = ~np.isnan(neighbors_ratings)
        with warnings.catch_warnings():
            warnings.simplefilter("ignore", category=RuntimeWarning)
            return (neighbors_ratings * similarities[neighbors, np.newaxis]).sum(axis=0, where=valids)\
                / np.broadcast_to(similarities[neighbors, np.newaxis], valids.shape).sum(axis=0, where=valids)
                
    
    def _deviation_from_mean_prediction(self, item: np.integer | int, neighbors: np.ndarray, ratings_u: np.ndarray) -> np.ndarray:
        mean_u = ratings_u[~np.isnan(ratings_u)].mean()
        neighbors_ratings = self.ratings[neighbors]
        valid_neighbors = ~np.isnan(neighbors_ratings[:,item])
        neighbors_ratings = neighbors_ratings[valid_neighbors]
        mean_neighbors = neighbors_ratings.mean(axis=1, where=~np.isnan(neighbors_ratings))
        with warnings.catch_warnings():
            warnings.simplefilter("ignore", category=RuntimeWarning)
            return mean_u + (neighbors_ratings[:,item] - mean_neighbors).mean()
    
    def _deviation_from_mean_predictions(self, neighbors: np.ndarray, ratings_u: np.ndarray) -> np.ndarray:
        mean_u = ratings_u[~np.isnan(ratings_u)].mean()
        neighbors_ratings = self.ratings[neighbors]
        mean_neighbors = neighbors_ratings.mean(axis=1, where=~np.isnan(neighbors_ratings))
        valid_neighbors = ~np.isnan(neighbors_ratings)

        with warnings.catch_warnings():
            warnings.simplefilter("ignore", category=RuntimeWarning)
            return mean_u + (neighbors_ratings - mean_neighbors[:, np.newaxis]).mean(axis=0, where=valid_neighbors)
        
        
        
    def fit(self, ratings: np.ndarray):
        try:
            self.ratings = ratings.astype(np.float64)
            if self.similarity == 'jmsd':
                self.MIN_RATING = ratings[~np.isnan(ratings)].min()
                self.MAX_RATING = ratings[~np.isnan(ratings)].max()
        except ValueError:
            raise ValueError('Ratings must be a 2D numpy array of floats')
        
        
    def predict(self, ratings_u: np.ndarray, item: int, *, prediction_mode: Literal['average', 'weighted_average', 'deviation_from_mean'] = 'weighted_average'):
        self._check(ratings_u)
        if self.similarity == 'correlation':
            similarities = self._correlation_similarities(ratings_u)
        else:
            similarities = self._jmsd_similarities(ratings_u)
            
        neighbors = self._get_neighbors(similarities)
        if prediction_mode == 'average':
            return self._average_prediction(item, neighbors)
        elif prediction_mode == 'weighted_average':
            return self._weighted_average_prediction(item, neighbors, similarities)
        elif prediction_mode == 'deviation_from_mean':
            return self._deviation_from_mean_prediction(item, neighbors, ratings_u)
        else:
            raise ValueError('Invalid prediction mode')
    
    def predict_all(self, ratings_u: np.ndarray, *, prediction_mode: Literal['average', 'weighted_average', 'deviation_from_mean'] = 'weighted_average'):
        self._check(ratings_u)
        if self.similarity == 'correlation':
            similarities = self._correlation_similarities(ratings_u)
        else:
            similarities = self._jmsd_similarities(ratings_u)
            
        neighbors = self._get_neighbors(similarities)
        if prediction_mode == 'average':
            return self._average_predictions(neighbors)
        elif prediction_mode == 'weighted_average':
            return self._weighted_average_predictions(neighbors, similarities)
        elif prediction_mode == 'deviation_from_mean':
            return self._deviation_from_mean_predictions(neighbors, ratings_u)
        else:
            raise ValueError('Invalid prediction mode')
    
    def recommend(self, ratings_u: np.ndarray, N: int, *, prediction_mode: Literal['average', 'weighted_average', 'deviation_from_mean'] = 'weighted_average'):
        predictions = self.predict_all(ratings_u, prediction_mode=prediction_mode)
        if len(predictions) < N:
            warnings.warn(f'Not enough items in dataset for {N} recommendations ({len(predictions)}).', RuntimeWarning)
            recommendations = np.arange(len(predictions))
            recommendations = recommendations[~np.isnan(predictions[recommendations])]
            return recommendations
        

        predictions = np.where(~np.isnan(predictions), predictions, 0)
        recommendations = np.argpartition(predictions, -N)[-N:] # Más eficiente que ordenar
        return recommendations[predictions[recommendations] != 0]

## Pruebas

In [ ]:
knn_model = KNN(k=10, similarity_kind='jmsd')
knn_model.fit(ratings_usr_train)

In [ ]:
# Test de funcionamiento
knn_model.predict(ratings_usr_train[0], 0, prediction_mode='weighted_average'), ratings_usr_train[0][0]

(0.0, 0.0)

In [ ]:
u = 3
knn_model.recommend(ratings_usr_test[u], 10, prediction_mode='weighted_average')

array([   36,    25, 13371,  3338, 16616,   304,  7250,   206, 10152,
        3477])

In [ ]:
recommendations = knn_model.recommend(ratings_usr_test[u], 3, prediction_mode='average')
predictions = knn_model.predict_all(ratings_usr_test[u], prediction_mode='average')
dict(zip(recommendations, predictions[recommendations])) # Estimated scores for the recommended items

{10152: 10.0, 7250: 10.0, 3477: 10.0}

In [ ]:
recommendations = knn_model.recommend(ratings_usr_test[u], 3, prediction_mode='weighted_average')
predictions = knn_model.predict_all(ratings_usr_test[u], prediction_mode='weighted_average')
dict(zip(recommendations, predictions[recommendations])) # Estimated scores for the recommended items

{7250: 10.000000000000002, 10152: 10.000000000000002, 206: 10.000000000000002}

In [ ]:
recommendations = knn_model.recommend(ratings_usr_test[u], 3, prediction_mode='deviation_from_mean')
predictions = knn_model.predict_all(ratings_usr_test[u], prediction_mode='deviation_from_mean')
dict(zip(recommendations, predictions[recommendations])) # Estimated scores for the recommended items

{3338: 9.416666666666666, 16616: 9.416666666666666, 304: 11.75}

In [ ]:
knn_model = KNN(k=10, similarity_kind='correlation')
knn_model.fit(ratings_usr_train)

In [ ]:
recommendations = knn_model.recommend(ratings_usr_test[u], 3, prediction_mode='average')
predictions = knn_model.predict_all(ratings_usr_test[u], prediction_mode='average')
dict(zip(recommendations, predictions[recommendations])) # Estimated scores for the recommended items

{2798: 10.0, 9858: 10.0, 16747: 10.0}

In [ ]:
recommendations = knn_model.recommend(ratings_usr_test[u], 3, prediction_mode='weighted_average')
predictions = knn_model.predict_all(ratings_usr_test[u], prediction_mode='weighted_average')
dict(zip(recommendations, predictions[recommendations])) # Estimated scores for the recommended items

{2798: 10.0, 9858: 10.0, 16747: 10.0}

In [ ]:
recommendations = knn_model.recommend(ratings_usr_test[u], 3, prediction_mode='deviation_from_mean')
predictions = knn_model.predict_all(ratings_usr_test[u], prediction_mode='deviation_from_mean')
dict(zip(recommendations, predictions[recommendations])) # Estimated scores for the recommended items

{1170: 11.733333333333334, 268: 11.733333333333334, 8605: 11.733333333333334}

In [ ]:
def get_mae(knn_model, ratings_usr_test):
    errors = []
    for u, user_ratings in enumerate(ratings_usr_test):
        true_ratings = np.array(user_ratings, dtype=np.float64)
        pred_ratings = knn_model.predict_all(user_ratings, prediction_mode='weighted_average')

        mask = ~np.isnan(true_ratings)
        if np.any(mask):
            diff = np.abs(true_ratings[mask] - pred_ratings[mask])
            if diff.size > 0:
                errors.append(diff.mean())
    return np.mean(errors) if errors else None


def get_rmse(knn_model, ratings_usr_test):
    errors = []
    for u, user_ratings in enumerate(ratings_usr_test):
        true_ratings = np.array(user_ratings, dtype=np.float64)
        pred_ratings = knn_model.predict_all(user_ratings, prediction_mode='weighted_average')

        mask = ~np.isnan(true_ratings)
        if np.any(mask):
            diff = (true_ratings[mask] - pred_ratings[mask]) ** 2
            if diff.size > 0:
                errors.append(np.sqrt(diff.mean()))
    return np.mean(errors) if errors else None


def get_user_precision(u, knn_model, ratings_usr_test, theta=8, N=10):
    recommendations = knn_model.recommend(ratings_usr_test[u], N, prediction_mode='weighted_average')
    if not recommendations:
        return None
    relevant_recs = [i for i in recommendations if not np.isnan(ratings_usr_test[u][i]) and ratings_usr_test[u][i] >= theta]
    if len(recommendations) == 0:
        return None
    return len(relevant_recs) / len(recommendations) if recommendations else None


def get_user_recall(u, knn_model, ratings_usr_test, theta=8, N=10):
    relevant_items = [i for i, r in enumerate(ratings_usr_test[u]) if not np.isnan(r) and r >= theta]
    if not relevant_items:
        return None
    recommendations = knn_model.recommend(ratings_usr_test[u], N, prediction_mode='weighted_average')
    if not recommendations:
        return None
    hits = [i for i in recommendations if i in relevant_items]
    return len(hits) / len(relevant_items) if relevant_items else None


def get_precision(knn_model, ratings_usr_test, theta=8, N=10):
    precisions = [get_user_precision(u, knn_model, ratings_usr_test, theta, N) for u in range(len(ratings_usr_test))]
    precisions = [p for p in precisions if p is not None]
    return np.mean(precisions) if precisions else None


def get_recall(knn_model, ratings_usr_test, theta=8, N=10):
    recalls = [get_user_recall(u, knn_model, ratings_usr_test, theta, N) for u in range(len(ratings_usr_test))]
    recalls = [r for r in recalls if r is not None]
    return np.mean(recalls) if recalls else None


def get_user_f1(u, knn_model, ratings_usr_test, theta=8, N=10):
    p = get_user_precision(u, knn_model, ratings_usr_test, theta, N)
    r = get_user_recall(u, knn_model, ratings_usr_test, theta, N)
    if p is None or r is None:
        return None
    if p == 0 and r == 0:
        return 0
    return 2 * p * r / (p + r)


def get_f1(knn_model, ratings_usr_test, theta=8, N=10):
    f1_scores = [get_user_f1(u, knn_model, ratings_usr_test, theta, N) for u in range(len(ratings_usr_test))]
    f1_scores = [f for f in f1_scores if f is not None]
    return np.mean(f1_scores) if f1_scores else None


def get_user_dcg(u, knn_model, ratings_usr_test, N=10):
    recommendations = knn_model.recommend(ratings_usr_test[u], N, prediction_mode='weighted_average')
    ratings = [ratings_usr_test[u][i] for i in recommendations if not np.isnan(ratings_usr_test[u][i])]
    if not ratings:
        return 0
    positions = np.arange(1, len(ratings) + 1)
    return np.sum((2 ** np.array(ratings) - 1) / np.log2(positions + 1))


def get_user_idcg(u, ratings_usr_test, N=10):
    user_ratings = np.array(ratings_usr_test[u])
    valid_ratings = user_ratings[~np.isnan(user_ratings)]
    top_ratings = np.sort(valid_ratings)[::-1][:N]
    if len(top_ratings) == 0:
        return 0
    positions = np.arange(1, len(top_ratings) + 1)
    return np.sum((2 ** top_ratings - 1) / np.log2(positions + 1))


def get_user_ndcg(u, knn_model, ratings_usr_test, N=10):
    dcg = get_user_dcg(u, knn_model, ratings_usr_test, N)
    idcg = get_user_idcg(u, ratings_usr_test, N)
    return dcg / idcg if idcg > 0 else None


def get_ndcg(knn_model, ratings_usr_test, N=10):
    ndcgs = [get_user_ndcg(u, knn_model, ratings_usr_test, N) for u in range(len(ratings_usr_test))]
    ndcgs = [n for n in ndcgs if n is not None]
    return np.mean(ndcgs) if ndcgs else None

In [62]:
print("MAE:", get_mae(knn_model, ratings_usr_test))
print("RMSE:", get_rmse(knn_model, ratings_usr_test))

print("Precision@10:", get_precision(knn_model, ratings_usr_test, theta=8, N=10))
print("Recall@10:", get_recall(knn_model, ratings_usr_test, theta=8, N=10))
print("F1@10:", get_f1(knn_model, ratings_usr_test, theta=8, N=10))
print("NDCG@10:", get_ndcg(knn_model, ratings_usr_test, N=10))

u = 3
print(f"\nUsuario {u}:")
print("Precision:", get_user_precision(u, knn_model, ratings_usr_test, theta=8, N=10))
print("Recall:", get_user_recall(u, knn_model, ratings_usr_test, theta=8, N=10))
print("F1:", get_user_f1(u, knn_model, ratings_usr_test, theta=8, N=10))
print("nDCG:", get_user_ndcg(u, knn_model, ratings_usr_test, N=10))

KeyboardInterrupt: